.bookForm .row{
  margin-bottom: 10px;
}
.breadcrumb {
  margin: 20px 0;
}
.form {
  margin-top: 50px;
}
.formKey {
  text-align: right;
  margin-right: 10px;
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}
.BookForm-button {
  padding: 5px 10px;
  background: #067AB6;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 10px 100px;
}